.step_button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(100, 93, 202, 0.1);
    color: rgba(100, 93, 202);
    margin-top: 7px;
    margin-bottom: 7px;
}

.step_button_wide{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(100, 93, 202, 0.1);
    color: rgba(100, 93, 202);
    margin-top: 23px;
    margin-bottom: 23px;
}

.mobile{
    max-width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(100, 93, 202, 0.1);
    color: rgba(100, 93, 202);
    margin-right: 15px;
}