.top {
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 100%;
    height: 90vh;

    background: url('../imgs/Back_top.svg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

.topText {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 414px;    
    margin-right: 30%;
}

@media (max-width: 900px) {
    .top {
        height: 50vh;
    }

    .topText {
        margin: 1rem;
        max-width: 90%;
        align-items: center;
        text-align: center;
    }
}
